# 🔐 Environment Variables
.env
backend/.env

# 📦 Node
node_modules/

# 🐍 Virtual Environment
venv/
.venv/
env/

# 🧠 Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# 🗄️ Database
*.db

# 📊 Analysis Output
backend/analysis_output/
analysis_output/

# 📁 Logs
*.log
logs/

# 🖥 OS Files
.DS_Store
Thumbs.db

# 💻 Editors / IDE
.vscode/
.idea/

# 📦 Build
build/
dist/
*.egg-info/

# 📄 Temp Files
explaination.txt
report.txt